.Howto {
    display: flex;
    justify-content: center;
    padding-top: 3vh;
}

.privacy {
    text-align: left;
    margin: 20px 40px;
    overflow: scroll;
}

.terms {
    text-align: left;
    margin: 20px 40px;
    overflow: scroll;
}

pre {font-family:  'futura' }