.manage-header a {
    margin: 0 5vw;
    font-weight: 600;
    line-height: 25.2px;
    padding-bottom: 5px;
    color: #443826;
}

.component-section {
    text-align: left;
}

.pac-container {
    z-index: 1051 !important;
}

.donation-list-contents {
    margin: 0 0 80px;
}

.content-section {
    padding: 20px;
    text-align: left;
    font-size: 14px;
    line-height: 180%;
    display: inline-block;
    width: 26%;
    height: 20vh;
    border: 2px solid black;
    margin: 5vh 0 3vh 10px;
}

@media screen and (max-width:767px) {
    .manage-header a {
        font-size: 90%;
    }

    .component-section {
        margin: 50px 5vw 0;
    }
}

@media screen and (min-width:768px) {
    .component-section {
        margin: 100px 10vw 0;
    }
}